<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Book name" #input>
</mat-form-field>

<div class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="image-column"> #</th>
      <td mat-cell *matCellDef="let element" class="image-column" (click)="navigateToProductDetail(element.id)">
        <img class="img-list" src="{{element.image}}" alt="book">
      </td>
      <td mat-footer-cell *matFooterCellDef class="total">Total</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title
      </th>
      <td class="title" mat-cell *matCellDef="let element"
          (click)="navigateToProductDetail(element.id)">{{element.title}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="subtitle">
      <th mat-header-cell *matHeaderCellDef> Subtitle</th>
      <td mat-cell *matCellDef="let element"> {{element.subtitle}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="price-column"> Price</th>
      <td mat-cell *matCellDef="let element" class="price-column price"> ${{Number(element.price.slice(1))}} </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef class="price-column"> Delete</th>
      <td mat-cell *matCellDef="let element" class="price-column price">
        <button class="add-button" [disabled]="!element.added" (click)="deleteFromBasket(element)">delete</button>
      </td>
      <td mat-footer-cell *matFooterCellDef class="total"> ${{totalPrice(basket)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">{{input.value}}</td>
    </tr>
  </table>
</div>



